
<div class="container">
  <h2>Employee List</h2>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" placeholder="Search by username" [(ngModel)]="searchUsername" (ngModelChange)="filterEmployees(searchUsername)" class="form-control">
      </div>

      <div class="input-group mb-3">
        <input type="text" placeholder="Search by email" [(ngModel)]="searchEmail" (ngModelChange)="filterEmployees(searchEmail)" class="form-control">
      </div>

    </div>
    <div class="col-md-4">
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange(itemsPerPage)" class="form-select">
        <option *ngFor="let num of [5, 10, 25, 50, 100]" [value]="num">{{num}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary w-100" (click)="onAddEmployee()">Add Employee</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Birth Date</th>
          <th>Basic Salary</th>
          <th>Status</th>
          <th>Group</th>
          <th>Description</th>
          <th>Actions</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredEmployees">
          <td>{{employee.username}}</td>
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.birthDate | date:'shortDate'}}</td>
          <td>{{employee.basicSalary | currency:'Rp'}}</td>
          <td>{{employee.status}}</td>
          <td>{{employee.group}}</td>
          <td>{{employee.description | date:'shortDate'}}</td>
          <td>
            <button (click)="onEdit(employee)" class="btn btn-warning btn-sm ">Edit</button>
            <button (click)="onDelete(employee)" class="btn btn-danger btn-sm ">Delete</button>
          </td>
          <td>
            <button (click)="showDetail(employee)" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Username</th>
              <td>{{selectedEmployee?.username}}</td>
            </tr>
            <tr>
              <th scope="row">First Name</th>
              <td>{{selectedEmployee?.firstName}}</td>
            </tr>
            <tr>
              <th scope="row">Last Name</th>
              <td>{{selectedEmployee?.lastName}}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{selectedEmployee?.email}}</td>
            </tr>
            <tr>
              <th scope="row">Birth Date</th>
              <td>{{selectedEmployee?.birthDate | date:'shortDate'}}</td>
            </tr>
            <tr>
              <th scope="row">Basic Salary</th>
              <td>{{selectedEmployee?.basicSalary | currency:'Rp'}}</td>
            </tr>
            <tr>
              <th scope="row">Status</th>
              <td>{{selectedEmployee?.status}}</td>
            </tr>
            <tr>
              <th scope="row">Group</th>
              <td>{{selectedEmployee?.group}}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{selectedEmployee?.description | date:'shortDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
